@media (max-width : 600px)
{
    .no
    {
        display: none;
    }
}

.wid
{
    width: 25rem;
    /* height: 50rem; */
}
.joteramaan
{
    display: inline-flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}